@font-face {
  font-family:"Free Sans";
  src:url("/assets/fonts/FreeSans.eot?") format("eot"),url("/assets/fonts/FreeSans.woff") format("woff"),url("/assets/fonts/FreeSans.ttf") format("truetype"),url("/assets/fonts/FreeSans.svg#FreeSans") format("svg");
  font-weight:normal;font-style:normal;
}

@font-face {
  font-family:"Free Sans Bold";
  src:url('/assets/fonts/FreeSansBold.eot?') format("eot"), url('/assets/fonts/FreeSansBold.woff') format('woff'),url('/assets/fonts/FreeSansBold.ttf') format('truetype'),url('/assets/fonts/FreeSansBold.svg#FreeSansBold') format('svg');
  font-weight:normal;font-style:normal;
}

img {
  width: 100%;
}

body {
  height: 100%;
  background-color: #ffaaed;
  margin: 0;
}

.image-left {
  width: 50%;
  height: 100vh;
  float: left;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.image-height {
  height: 100%;
}

.detail-right {
  height: 100vh;
  padding-top: 20px;
  float: right;
  max-width: 50%;
}

h2 {
  font-family: 'Free Sans Bold';
  color: white;
  text-align: center;
  font-size: 4vw;
}

h3 {
  font-family: 'Free Sans';
  color: white;
  text-align: center;
  font-size: 1em;
}

img {
  font-family: 'Free Sans';
  color: white;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.image-preview {
  height: 10vh;
  width: auto:
  border: 1px;
  border-style: dashed;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;

}

.input-file{
  width: 100%;
}

.thumbnail-image {
  width: auto;
  height: 100%;
}

.no-padding-margin {
  margin: 0;
  padding-right: 10px;
}

.mobile-image {
  max-height: 30vh;
  overflow: hidden;
}

.form-heading {
  font-family: 'Free Sans Bold';
}

.form-text {
  font-family: 'Free Sans';
  padding-bottom: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.white-outline {
  color: white;
}

.outline-box {
border: opx;
padding: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.btn-outline-light:hover {
  color: #ffaaed;
}

.one-half-width {
  max-width: 50%;
  margin: auto;
}

.button-action:hover {
  cursor: pointer;
}

.inline-link-to-text {
  display: inline;
  text-decoration: underline;
}
