<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167447683-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167447683-1');
</script>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KZMN62T');</script>
<script>
  if (global === undefined) {
    var global = window;
  }
</script>
{{#if (media 'isJumbo')}}
  <div class="image-left">
    <img src="assets/images/dreamstime_xxl_metallic_silver_jumbo_q5.jpg" alt="taylor-swift-metallic-silver-jumbo">
  </div>
  <div class="detail-right">
    <h2 class="no-padding-margin">FINDING TAYLOR SWIFT</h2>
    <div class="one-half-width">
      {{outlet}}
  </div>
  </div>
{{/if}}
{{#if (media 'isDesktop')}}
  <div class="image-left">
    <img src="assets/images/dreamstime_xxl_metalic_silver_w1000_q8.jpg" alt="taylor-swift-metallic-silver-desktop" class="image-height">
  </div>
  <div class="detail-right">
      <h2 class="no-padding-margin">FINDING TAYLOR SWIFT</h2>
      {{outlet}}
  </div>
{{/if}}

{{#if (media 'isTablet')}}
  <div class="image-left">
    <img src="assets/images/dreamstime_xxl_metallic_silver_tablet_q8.jpg" alt="taylor-swift-metallic-silver-tablet" class="image-height">
  </div>
  <div class="detail-right">
      <h2 class="no-padding-margin">FINDING TAYLOR SWIFT</h2>
      {{outlet}}
  </div>
{{/if}}

{{#if (media 'isMobile')}}
<h2>FINDING TAYLOR SWIFT</h2>
<div class="mobile-image">
  <img src="assets/images/dreamstime_xxl_metallic_silver_mobile_q8.jpg" alt="taylor-swift-metallic-silver-mobile">
</div>
  {{outlet}}
{{/if}}
