<div class="outline-box">
  <h3 class=" white-outline form-heading">Privacy Statement</h3>
  <div class="white-outline form-text">
    We will only share data with relevant authorities on receipt of a legal request.
    <br><br>
    The only user data retained will be email(s) and file names provided in the use of our service
    <br><br>
    We will only contact you if we are legally obliged to do so.
    <br><br>
  </div>
  <div>
    <LinkTo class="btn btn-outline-light white-outline form-heading" @route="upload">Home</LinkTo>
  </div>
</div>
