<div class="outline-box">
  <h3 class=" white-outline form-heading">Terms & Conditions</h3>
  <div class="white-outline form-text">
    We accept no liability or responsibility for the consequences of using this service.
    <br><br>
    We will keep a record of emails and file names.  Images will only be stored for the period of time stipulated by countries governing bodies and applicable laws.
    <br><br>
      Ownership remains with the user uploading the image, copyright holder or person who originally took the photo.
    <br><br>
  </div>
  <div>
    <LinkTo class="btn btn-outline-light white-outline form-heading" @route="upload">Home</LinkTo>
  </div>
</div>
