  <div class="image-left">
    {{#if (media 'isJumbo')}}
      <img src="assets/images/dreamstime_xxl_metallic_silver_jumbo_q5.jpg" alt="taylor-swift-metallic-silver-jumbo">
    {{/if}}
    {{#if (media 'isDesktop')}}
      <img src="assets/images/dreamstime_xxl_metalic_silver_w1000_q8.jpg" alt="taylor-swift-metallic-silver-desktop">
    {{/if}}
  </div>
  <div class="detail-right">
      <h2>FINDING TAYLOR SWIFT</h2>
    {{#if (media 'isJumbo')}}
      Jumbo view!
    {{/if}}
    {{#if (media 'isDesktop')}}
      Desktop view!
    {{/if}}
    {{#if (media 'isTablet')}}
      Tablet view!
    {{/if}}
    {{#if (media 'isMobile')}}
      Mobile view!
    {{/if}}
  </div>
